*.iml
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/androidTest/java/com/guillermo/videojuegos/

/app/src/androidTest/java/com/guillermo/cine/
/app/src/test/java/com/guillermo/cine/
